<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" type='image/png' href="static/img/localização.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Portifólio - Nikolas Raniery</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="static/img/perfil.jpeg" alt="Imagem de Perfil">
            <h1>Nikolas Raniery</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/nikolas-raniery-9506a521a/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/nikolasraniery">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/nikolas_raniery/">
                    <i class="bi bi-instagram"></i>
                </a>

            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i>
                        Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-file-code-fill"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-text-fill"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection-fill"></i> Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-telephone-fill"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Nikolas Raniery</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante de Análise e Desenvolvimento de
                    Sistemas</span>

            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down-circle-fill text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Desde pequeno, o interesse por computação dominava minha forma de pensar e agir. A forma como os
                        computadores funcionavam me despertava ainda mais curiosidade!
                        Consegui canalizar este interesse e além de desejo profissional se tornou também um hobby.
                        Iniciei uma graduação em Engenharia de Computação e por esse
                        primeiro contato me fazer gostar ainda mais da área de desenvolvimento acabei por mudar de curso
                        e recentemente no ano de 2022 iniciei uma nova graduação,
                        porém, desta vez em uma área focada ainda mais em programação, Análise e Desenvolvimento de
                        Sistemas. Pretendo continuar esta jornada como Dev ainda sem saber
                        em qual área irei atuar, mas com a certeza de que nunca vou parar meu aprendizado como pessoa
                        desenvolvedora !
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="static/img/perfil.jpeg" alt="Foto de perfil"
                        data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Técnico de Informática N2</h3>
                    <p>Atualmente atuo como técnico de informática nível 2
                        no Grupo Santa Casa BH, trabalhando
                        principalmente
                        com suporte técnico, manutenção preventiva e apoio logístico.
                        Também faço graduação em Análise e Desenvolvimento de Sistemas e
                        me aventuro em alguns projetos como este portifólio.
                    </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Data de Nascimento: <span class="fw-lighter">19 de Janeiro de 2001</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">21 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Belo Horizonte</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Minas Gerais</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Jogar</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <a href="https://faculdadesantacasabh.org.br/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">Faculdade Santa Casa </a></li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">2 anos</span>
                                </li>

                            </ul>
                        </div>
                    </div>



                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Abaixo, adicionei algumas habilidades que adquiri ao longo de toda
                    esta jornada em busca de me tornar desenvolvedor. Elas estão dispostas
                    de acordo com a porcentagem de conhecimento que acredito ter em cada uma delas. </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                aria-valuemax="100">35%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">25%</div>
                        </div>
                        <p class="mt-3 mb-0">C/C++</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 20%;" aria-valuenow="20" aria-valuemin="0"
                                aria-valuemax="100">20%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 15%;" aria-valuenow="15" aria-valuemin="0"
                                aria-valuemax="100">15%</div>
                        </div>
                        <p class="mt-3 mb-0">Manutenção</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                                aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Infraestrutura</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                                aria-valuemax="100">45%</div>
                        </div>
                        <p class="mt-3 mb-0">Suporte Técnico</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
                                aria-valuemax="100">95%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" aria-label="Basic example"
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" aria-label="Basic example"
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" aria-label="Basic example"
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" aria-label="Basic example"
                                style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" aria-label="Basic example"
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-3 mb-0">Flexibilidade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" aria-label="Basic example"
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4> Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2022 - Atualmente</h5>
                            <p><em>Universidade Estácio de Sá</em></p>
                            <p>Graduação tecnológica em Análise e Desenvolvimento de Sistemas</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Engenharia de Computação</h4>
                            <h5>2021 - Atualmente</h5>
                            <p><em>CEFET/MG - Centro Federal de Educação Tecnológica</em></p>
                            <p>Graduação em Engenharia de Computação</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Conclusão do Ensino Médio</h4>
                            <h5>2016 - 2019</h5>
                            <p><em>Escola Estadual Maurício Murgel</em></p>
                            <p>Ensino Médio Completo</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Técnico de Informática Nivel 2</h4>
                            <h5>2022 - Atualmente</h5>
                            <p><em>Faculdade Santa Casa BH</em></p>
                            <p>Apoio logístico, manutenção preventiva e suporte ao cliente</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Auxiliar Operacional</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Premier Logistics</em></p>
                            <p>Organização e triagem das encomendas</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Auxiliar de Produção</h4>
                            <h5>2020 - 2020</h5>
                            <p><em>Sabor de Pão</em></p>
                            <p>Produção de produtos alimentícios</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portifólio</h2>

                <div id="carouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/Portifolio1.jpeg" class="card-img-top"
                                            alt="Site Faculdade Santa Casa">
                                        <div class="card-body">
                                            <h5 class="card-title">Landding Page Faculdade Santa Casa</h5>
                                            <p class="card-text">Projeto de desenvolvimento web criado com HTML5 e CSS.
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://nikolasraniery.github.io/site-faculdade-santacasa/"
                                                    target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/em-breve-glitch.gif" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Em Breve</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="static/img/em-breve-glitch.gif" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Em Breve</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt-fill"></i> Localização</h4>
                                <p>Belo Horizonte, MG</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope-fill"></i> Email:</h4>
                                <p>nikolassraniery@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.7331635276146!2d-44.01735350000001!3d-19.935646299999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69677a7bb9d25%3A0x41ed560fbe045952!2sR.%20Jo%C3%A3o%20Batista%20Vi%C3%AAira%20-%20Belo%20Horizonte%2C%20MG%2C%20Brasil!5e0!3m2!1spt-BR!2sde!4v1664226924504!5m2!1spt-BR!2sde"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome..." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email..." required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem..." required></textarea>
                                </div>



                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        
        
       <!-- 
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-envelope-check-fill"></i> Mensagem enviada com sucesso !
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %} -->
        

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Nikolas Raniery</strong>
            </div>
        </div>
    </footer>

    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/script.js"></script>
</body>

</html>
